.interviewTemplatemainmenu-container{
    margin-left: 20%;
    background-color: transparent;
    position: absolute;
    min-height:100%;
    width:80%;
    color: black;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 50px;
}
.interviewTemplatemainmenu-container h2{
margin-bottom: 25px;
}
.template-interview-question{
    padding-left: 15px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(231 237 224);
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 5%);
}
.template-interview-question h3:focus{
    background-color: rgb(255, 255, 255);

}
.template-interview-question h3{
    float: right;
padding: 10px;
padding-left: 15px;
padding-right: 15px;
background-color: rgb(255, 255, 255);
border-radius: 5px;
outline:none;
font-weight: 300;
border: 0px;
margin-right: 5px;
margin-top: -5px;
cursor: pointer;
}.template-interview-question button:hover{
box-shadow: 0 0 40px 0 rgb(0 0 0 / 11%);}
.template-interview-question p{
    margin-top:10px;
    margin-right:15px;
    margin-bottom:5px;
}
.template-interview-question ul{
list-style: lower-latin;}
.template-interview-question li{
margin-left: 15px;
margin-right: 15px;
margin-top: 5px;
}
.correct-option{
    background-color: transparent;
}
#tick-mark {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
}

#tick-mark::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 3px;
    background-color: #1f1f1f;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

#tick-mark::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #1f1f1f;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}
.view-interviewTemplatemainmenu-container .react-flow{
    margin-left: 22%;
    margin-top: 40px;
    
    padding-top: 10px;
    background-color: snow;
    border: 1px solid rgb(212, 212, 212) !important;
border-right: 1px solid rgb(212, 212, 212) !important;
}
.view-interviewTemplatemainmenu-container{
background-color: #f1f4f6;}
.react-flow__controls-button:focus{
    outline:none;
}