
.herodiv{
  text-align: center;
background-color:transparent;
color: aliceblue;
}
.parent{
 
overflow: hidden;
margin: 0%;
height: 100%;
background-color: #fafafaec;
}
.curvesvg{

}
.herodiv h3{
font-size: 2.5rem;
 position: absolute;
 padding-left: 20%;
 padding-top: 23px;
 padding-bottom: 6px;
}
.typed-out{

white-space: nowrap;
overflow: hidden; 
  

color: rgb(255, 255, 255);

animation: animated-text 2s steps(30,end) 1s 1 normal both
}
@keyframes animated-text{
from{width: 0;}
to{width: 743px;}
}
.jobdiv{
  text-align: left;
  background-color: transparent;
  }
.basicdetails{
  position: absolute;
  background-color: transparent;
  width: 45%;
  float: left;
}
.basicdetails h3{
  position: relative;
  font-size: x-large;
  padding-left: 190px;
  text-indent: 0px;
  font-weight: 500;
  padding-top: 10px;
}
.basicdetails form {
  display: block;
  margin-top: 0em;
  padding-top: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.basicdetails .form-group {
  margin-bottom: 15px;
  position: relative;
  padding-left: 70px;
  padding-bottom: none;
}
.basicdetails .form-group-dropdown1{
  margin-bottom: 15px;
  position: absolute;
  z-index: 2;
  padding-left: 70px;
  padding-bottom: none;
 
  width: 70%;
}
.basicdetails .form-group-dropdown2{
  z-index: 1;
  margin-bottom: 15px;
  position: relative;
  padding-left: 430px;
  padding-bottom: none;
}
.basicdetails .form-input::placeholder{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.basicdetails .form-input {
  height: 40px;
  display: block;
  width: 90%;
  line-height: 1.42857143;
  padding: 6px 12px;
  font-size: 14px;
  position: relative;
  color: #555;
  background-color: #fff;
  background: none;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
 
}
.basicdetails .form-input:focus{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
 
}

.form-half-input{
  height: 40px;
  display: block;
  width: 80%;
  line-height: 1.42857143;
  padding: 6px 12px;

  font-size: 14px;
  position: relative;
  color: #555;
  background-color: #fff;
  background: none;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}
.form-half-input:focus{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
 
}
.basicdetails .input-label{
  position: relative;
  font-size: 16px;
  color: #54646c;
  padding-bottom: none;
  margin-bottom: 2px;
  display: block;
}
.startdate{
  float:left;
  margin-bottom: 15px;
  position: absolute;
  z-index: 2;
  padding-left: 70px;
  padding-bottom: none;
  width: 40%;
  
}
.e-input-group input.e-input, .e-input-group.e-control-wrapper input.e-input {
 
  font-size: 16px;
}
/*calendar icon in normal state*/
.e-input-group .e-input-group-icon:last-child, .e-input-group.e-control-wrapper .e-input-group-icon:last-child {
 
  color: rgb(54 45 45);
}
/*when field data is selected*/
input.e-input::selection,
textarea.e-input::selection,
.e-input-group input.e-input::selection,
.e-input-group.e-control-wrapper input.e-input::selection,
.e-float-input input::selection,
.e-float-input.e-control-wrapper input::selection,
.e-input-group textarea.e-input::selection,
.e-input-group.e-control-wrapper textarea.e-input::selection,
.e-float-input textarea::selection,
.e-float-input.e-control-wrapper textarea::selection {
background: #fcfcfc;
color: rgb(0, 0, 0);
}
/*bottom border color changer*/
.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before,
.e-input-group:not(.e-float-icon-left):not(.e-float-input)::after,
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before,
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after {
background: #ffffff;
border-color: #00f815;
}
/*calendar popeup */
.e-calendar .e-content table, .e-bigger.e-small .e-calendar .e-content table { background: #ffffff;}
/*calender date wrapup div*/
.e-calendar .e-content td, .e-bigger.e-small .e-calendar .e-content td {
  cursor: pointer;
  padding: 2px;
  text-align: center;
  background: #ffffff !important;
}
/*calendar date*/
.e-calendar .e-content td.e-today span.e-day,
.e-calendar .e-content td.e-focused-date.e-today span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-today span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today span.e-day {
background: none;
border: 1px solid #000000;
border-radius: 50%;
color: #0a0a0a;
}
.e-calendar .e-content table{
  background: #ffffff;
}
/*calendar date default */
.e-calendar .e-content td.e-focused-date.e-today span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today span.e-day {
background: #eee;
border: 1px solid #000000;
color: #2797d8;
}
/*when current date is selected default after effects*/
.e-calendar .e-content td.e-today.e-selected span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-today.e-selected span.e-day {
  background-color: #000000;
  color: #fff;
border: 1px solid #000000;
box-shadow: inset 0 0 0 2px #fff;

}
/*current date hover and etc*/
.e-calendar .e-content td.e-today:hover span.e-day,
.e-calendar .e-content td.e-focused-date.e-today:hover span.e-day,
.e-calendar .e-content td.e-focused-date.e-today:focus span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-today:hover span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today:hover span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today:focus span.e-day {
background-color: rgb(8, 8, 8);
border: 1px solid #111011;
color: #daccd0;
}
/*the date that is selected*/

.e-calendar .e-content td.e-today.e-selected:hover span.e-day,
.e-calendar .e-content td.e-selected:hover span.e-day,
.e-calendar .e-content td.e-selected.e-focused-date span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-today.e-selected:hover span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-selected:hover span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-selected.e-focused-date span.e-day {
background-color: #000000;
color: #fff;
}
/*Selected month and year background etc*/
.e-calendar .e-content td.e-selected span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-selected span.e-day {
background-color: #0a0a0a;
border: none;
border-radius: 50%;
color: #fff;
}

/*when icon is active and the calendar is shown*/

.e-date-wrapper span.e-input-group-icon.e-date-icon.e-icons.e-active {
  color: black;
}
/*today button in calendar*/
.e-btn.e-flat.e-primary, .e-css.e-btn.e-flat.e-primary {
  background-color: transparent;
  border-color: transparent;
  color: #0f0f0f;
}
.e-btn.e-flat.e-primary:hover,
.e-css.e-btn.e-flat.e-primary:hover {
background-color: rgba(227, 22, 91, 0.04);
border-color: transparent;
color: #797979;
}
/*unexpected border red*/
.e-input-group.e-error, .e-input-group.e-control-wrapper.e-error, .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
  border-bottom-color: #797979;
}
.enddate{
  float:right;
  width: 40%;
  z-index: 1;
  margin-bottom: 15px;
  position: relative;
 padding-right: 50px;
  padding-bottom: none;
}
.descriptiondetail{
  width: 40%;
  float: right;
  position: relative;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  padding-right: 30px;
}
.description-form-group{
 margin-bottom: 15px;
position: relative;
float: right;
padding-top: 50px;
padding-left: 70px;
padding-bottom: none;}
.description-input-label{
position: relative;
float: left;
  font-size: 16px;
  color: #54646c;
  margin-bottom: 2px;
  display: block;
  padding-bottom: 2px;
}
.description-form-input {

height: 350px;
display: block;
width: 90%;
line-height: 1.42857143;
padding: 16px;
z-index: 10;
font-size: 14px;
position: relative;
color: #555;
background-color: #fff;
background: none;
outline: none;
border: 1px solid #ccc;
border-radius: 4px;
box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
overflow: scroll;

}
.description-form-input:focus{
border: 2px solid rgb(3, 3, 3);

}
.interviewsubmit-button {
position: absolute;
display: block;
margin: 15px;
margin-left: 150px;
margin-top: 85px;
padding: 10px 20px;
text-align: center;
font-size: 16px;
text-decoration: none;
color: #0a0a0a;
background: transparent;
cursor: pointer;
transition: ease-out 0.5s;
border-radius: 30px;
border: 1px solid #000000;
border-radius: 10px;
box-shadow: inset 0 0 0 0 #79f8f8;
height: fit-content;
width: 30%;
}

.interviewsubmit-button:hover,.interviewsubmit-button:focus,.interviewsubmit-button:active {
color: white;
outline:none;
border: 2px solid #0099ff !important;
box-shadow: inset 0 -100px 0 0 #0099ff;
}
.field-error{
color: red;
font-size: 11px;
padding-left: 10px;
float: left;
position: absolute;
}
.description-form-input::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.description-form-input::-webkit-scrollbar-track {
  
  border-radius: 5px;
}
 
/* Handle */
.description-form-input::-webkit-scrollbar-thumb {
  background: rgb(170, 169, 169); 
  border-radius: 10px;
}

/* Handle on hover */
.description-form-input::-webkit-scrollbar-thumb:hover {
  background: rgb(116, 116, 116); 
}
.form-input-time::placeholder{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-input-time {
  height: 40px;
  display: block;
  width: 60%;
  line-height: 1.42857143;
  padding: 6px 12px;
  font-size: 14px;
  position: relative;
  color: #555;
  background-color: #fff;
  background: none;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
 
}
.form-input-time:focus{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
 
}
/* Wrapper around the hour, minute, second, and am/pm fields as well as 
the up and down buttons and the 'X' button */
input[type=time]::-webkit-datetime-edit-fields-wrapper {
  display: flex;
}

/* The space between the fields - between hour and minute, the minute and 
second, second and am/pm */
input[type=time]::-webkit-datetime-edit-text {
  /* padding: 19px 4px; */
}

/* The naming convention for the hour, minute, second, and am/pm field is
`-webkit-datetime-edit-{field}-field` */

/* Hour */
input[type=time]::-webkit-datetime-edit-hour-field {
  /* background-color: #f2f4f5;
  border-radius: 15%;
  padding: 19px 13px; */
}

/* Minute */
input[type=time]::-webkit-datetime-edit-minute-field {
  /* background-color: #f2f4f5;
  border-radius: 15%;
  padding: 19px 13px; */
}

/* AM/PM */
input[type=time]::-webkit-datetime-edit-ampm-field {
  /* background-color: #7155d3;
  border-radius: 15%;
  color: #fff;
  padding: 19px 13px; */
  display: none;
  
}

/* 'X' button for resetting/clearing time */
.form-input-time::-webkit-datetime-edit-ampm-field {
  display: none;
}
.form-input-time::-webkit-datetime-edit-ampm-field {
width: 60px;
  background-color: #0099ff;
}
input[type=time]::-webkit-clear-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance:none;
  appearance: none;
  margin: -10px; 
}