
.alladds{
    padding-top: 20%;
    position: relative;
  }
  
  .joblist{
      height: 100%;
      align-items: center;
      width: 100%;
      background: #f1f4f6;
      overflow-y: scroll;
      overflow-x: hidden;
      position: absolute;
    padding-bottom: 10px;
  }
  
  .joblist .usertag{
      text-align: center;
      font-size: x-large;
      text-indent: 0px;
      font-weight: 500;
      padding-top: 20px;
      padding-bottom: 10px;
      border-bottom: 1.5px solid;
      border-color: rgb(245, 243, 243);
      position: fixed;
      background-color: rgb(241, 241, 241);;
      z-index: 1;
      width: 20%;
      box-shadow: 0 3px 4px 0 rgb(0 0 0 / 5%), 0 3px 3px -2px rgb(0 0 0 / 1%), 0 1px 8px 0 rgb(0 0 0 / 1%);
  
  }
  .usertag:hover{
      /* color: rgb(26, 124, 236); */
      font-weight: 600;
  }
  /*user img css discarded img{
      align-self: flex-start;
      width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 2px 5px;
    color: #0b93f6;
  } */
  .joblist::-webkit-scrollbar {
      width: 5px;
    }
    
    /* Track */
    .joblist::-webkit-scrollbar-track {
      
      border-radius: 5px;
    }
     
    /* Handle */
    .joblist::-webkit-scrollbar-thumb {
      background: rgb(170, 169, 169); 
      border-radius: 10px;
    }
  
    /* Handle on hover */
    .joblist::-webkit-scrollbar-thumb:hover {
      background: rgb(116, 116, 116); 
    }
    .jobdate{
        float: right;
        padding-right: 10px;
        font-size: small;
    }
    .jobdescription{
        
        float: left;
        padding-left: 15px;
        padding-right: 10px;
        display: -webkit-box;
    -webkit-line-clamp: 3;
    text-overflow: -o-ellipsis-lastline;
    -webkit-box-orient: vertical;
    overflow: hidden;
  
    }
    .jobadd{
        display: flow-root;
        margin-top: 10px;
        
        margin-bottom: 0px;
        padding-top: 8px;
        padding-bottom: 0px;margin-left: 10px;margin-right: 10px;
        color: rgb(56, 56, 56);
       
  border-bottom: 1px solid;
  }
  .jobadd:hover{
      box-shadow: 0px 2px  rgb(94 94 95 / 30%);
      color: black;
  
  }
  .jobadd:focus-within{
      /* background-color: rgb(190, 190, 190);
     */
  }