.Adminsidebar-main{
    background-color: #f1f4f6;
    width: 20%;
    height: 100vh;
    position: fixed;
}
.showsidebar{
    left: 0;
   
   
    top:56px;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 19%;
    height: 88vh;
    position: fixed;
    z-index: 5;
    
    border-radius: 0px 5px 5px 0px;
    /* box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to top,#c7c7c7, #c6e7ff); */
    color: #00504a;

    text-align:left;
padding-top: 1%;
padding-bottom: 5%;
-moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    /* animation-name: example;
    animation-duration: 1s; */
    background-color: #fff;
    box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);

  }
  
  @keyframes example {
    from {left: -20%;}
    to {left: 0;}
  }
.hidesidebar{
 
    left: -20%;
   
   
    top:56px;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 20%;
    height: 88vh;
    position: fixed;
    z-index: 5;
    
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
    /* background-image: linear-gradient(to bottom,#7be2db, #91e5e0); 
    background-image: linear-gradient(to top,#ace3e7, #d0f1ef);*/
    background-color: #fff;
    color: #00504a;

    text-align:left;
padding-top: 2%;
padding-bottom: 5%;

    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
   /* animation-name: example2;
   animation-duration: 1s; */
 }
 
 @keyframes example2 {
   from {left: 0;}
   to {left: -20%;}
}

.sidebar-header{
    border-bottom: 1px solid #f8f8f8;
   
    width: 100%;
position: relative;
overflow: hidden;
/* height: max-content;  */
height: 80px;
padding-left: 15%;
padding-bottom: 8px;
}
/* .sidebar-header img{
width: 60px;
height: 60px;
border-radius: 50%;
outline: none;
} */
.sidebar-sitelogo{
    margin-top: 5px;
    height: 70px;
    width: 80%;
    margin-left: -4%;
    margin-bottom: 5px;

}
.user-name{
    font-size: 20px;
    font-weight: 500;
    padding-left: 38%;
    overflow: hidden;
    white-space: nowrap;
}
.user-role{
    font-size: 12px;
    display: block;
    margin-left: 42%;
    line-height: 12px;
/* position: absolute;
    float: right;
    top: 47%;
    right: 33%; */
}
.user-info{
    position: absolute;
    float: right;
    top: 10%;
    right: 32%;
}
.sidebaritems{
    position: relative;
    width: 100%;
    height: 80%;
    height: max-content;
    overflow: hidden;
    padding: 1.5rem !important;
    padding-top: 5% !important;
}



.sidebaritems ul{
list-style-type: none;
padding: 0px;
}
.sidebar-item{
    border-bottom: 1px solid #b9b8b8;
    color: #57858b;
   padding-top: 10px;
   padding-bottom: 5px;
cursor: pointer;
font-weight: 500;
}
.sidebar-item:hover {
    color: #333333 !important;
    border-bottom: 1px solid #444444;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 2%);

}
.sidebar-item:hover span{
    background-color: transparent;
    color: #444444 !important;
}
.sidebar-item span{
padding-left: 16px;
font-size: large;
vertical-align: middle;
position: absolute;
padding-top: 1.5%;
color: #898484;
/* width: 100%;
height: 100%; */
}
.page-icon{
    
    background: transparent;
    border: 1px solid #898484;
    color: #898484;
transition: all 0.3s ease;
border-radius: 5px;
margin: auto;
margin-left: 7%;
padding: 5px;
width: 15%;
height: 10%;
text-shadow: 0px 0px 10px rgba(68, 68, 68, 0.5);

}

@keyframes shake {
  0% { transform: translate(1px, 1px)  }
  10% { transform: translate(-1px, -1px)  }
}
.sidebar-item:hover .page-icon{
    color: #444444;
    border: 1px solid #444444;
    /* animation: shake 0.5s; animation-iteration-count: 2; */
transform: translateY(-0.15em);

}